[submodule "themes/compose"]
	path = themes/compose
	url = https://github.com/onweru/compose
[submodule "themes/notion-site-theme"]
	path = themes/notion-site-theme
	url = https://github.com/pkwenda/notion-site-theme
